@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html, body {
  min-height: 100%;
  background: #ADD8E6;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
